<footer class="footer">
    <div class="footer__conteiner">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam beatae numquam non labore? Aperiam corrupti ab necessitatibus ad. Eaque eum doloribus quidem sapiente quibusdam officiis dignissimos et. Laborum, blanditiis quidem?
            </p>
        </section> 
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-square-whatsapp"></i>(00) 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyrigth">
        &copy; Todos os direitos reservados
    </section>
</footer>
