<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                A AngularComputers é uma loja virtual de periféricos criada por mim com o objetivo de colocar em prática meus conhecimentos em HTML5, CSS3, Javascript, Typescript e Angular. Através do uso dessas tecnologias, desenvolvi uma plataforma fácil de navegar e com design moderno, pensando sempre na melhor experiência para o usuário. Nossa loja oferece uma ampla variedade de produtos de alta qualidade, desde teclados, mouses, fones de ouvido e muito mais.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> matheusvictor.dev@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (83) 98856-1841</li>
                <li><i class="fa-brands fa-whatsapp"></i> (83) 98856-1841</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>